.b-info-content {
  overflow: hidden;
}

.b-info-content {

  .b-info_frame-header-underline {
    border: 1px solid #e7e7e7;
    font-size: 16px;
    color: #7a7a7a;
    padding: 10px 20px;
  }

  .b-info_frame-header-underline__title {
    color: #3a2f2e;
    font-size: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f8d39a;
    display: inline-block;
  }

  .b-info_frame-header-underline .row {
    margin: 0;
  }
}

.b-news_list {
  .b-news_list_row {
    margin-bottom: 20px;
  }

  .b-news_list_row a {
    color: #5a3226;
    font-size: 18px;
  }

  .b-news_list__social {
    margin-top: 20px;
  }

  .b-news_list__date {
    color: #e2d7c7;
    font-size: 18px;
    font-weight: bold;
  }
}
