.b-page-image {
  width: 1170px;
  background-color: #d3b588;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.b-page-image {
  .b-page-image__file {
    width: 100%;
    height:100%;
    overflow: hidden;
    z-index: 1000;
    position: relative;
    background: transparent;
  }

  .b-page-image__file img {
    opacity: 1;
  }

  .b-page-image_title {
    position: absolute;
    color: $main-color-text;
    height: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .b-page-image_title div {
    display: inline-block;
    z-index: 1000;
    min-width: 200px;
    margin: auto;
    padding: 11px 60px;
    color: $main-color-text;
    font-weight:bold;
    width: auto;
    max-width: 900px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }

  .b-page-image__right-line {
    background-color: #aa9370;
    height: 190px;
    width: 200%;
    margin-right: -3510px;
    z-index: 900;
  }

  .b-page-image__left-line {
    background-color: #aa9370;
    height: 190px;
    width: 300%;
    margin-left: -2340px;
  }

  .b-page-image__background {
    height: 210px;
    width: 1155px;
    position: absolute;
    top: 5px;
    left: 7px;
    border: 1px solid white;
    z-index: 1100;
  }

  .b-page-image__border {
    position: absolute;
    border: 1px solid white;
    background: transparent;
    z-index: 1200;
    left: 5px;
    top: 5px;
    height: 64px;
    width: 1159px;
  }

  .b-page-image__frame-left-top,
  .b-page-image__frame-right-top,
  .b-page-image__frame-right-bottom,
  .b-page-image__frame-left-bottom {
    position: absolute;
    z-index: 1300;
  }

  .b-page-image__frame-left-top {
    left: 10px;
    top: 10px;
  }

  .b-page-image__frame-right-top {
    right: 0;
    top: 0;
    @include transform(rotate(90deg));
  }

  .b-page-image__frame-right-bottom {
    right: 10px;
    bottom: 10px;
    @include transform(rotate(180deg));
  }

  .b-page-image__frame-left-bottom {
    left: 0;
    bottom: 0;
    @include transform(rotate(270deg));
  }
}

