.b-header-image {
  width: 1170px;
  background-color: #a69172;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 100px;
  margin-top: 5px;
}

.b-header-image {

  .b-header-image__file {
    width: 100%;
    height:100%;
    overflow: hidden;
    z-index: 1000;
    position: relative;
    background: transparent;
  }

  .b-header-image__file img {
    opacity: 1;
  }

  .b-header-image_title {
    position: absolute;
    color: $main-color-text;
    height: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .b-header-image_title div {
    display: inline-block;
    z-index: 1000;
    min-width: 200px;
    margin: auto;
    padding: 11px 60px;
    color: $main-color-text;
    font-weight:bold;
    width: auto;
    max-width: 900px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
  }

  .b-header-image__right-line {
    background-color: #aa9370;
    height: 190px;
    width: 200%;
    margin-right: -3510px;
    z-index: 900;
  }

  .b-header-image__left-line {
    background-color: #aa9370;
    height: 190px;
    width: 300%;
    margin-left: -2340px;
  }

  .b-header-image__background {
    height: 210px;
    width: 1155px;
    position: absolute;
    top: 5px;
    left: 7px;
    border: 1px solid white;
    z-index: 1100;
  }

  .b-header-image__border {
    position: absolute;
    border: 1px solid white;
    background: transparent;
    z-index: 1200;
    left: 6px;
    top: 6px;
    height: 88px;
    width: 1158px;
  }

  .b-header-image__frame-left-top,
  .b-header-image__frame-right-top,
  .b-header-image__frame-right-bottom,
  .b-header-image__frame-left-bottom {
    position: absolute;
    z-index: 1300;
  }

  .b-header-image__frame-left-top {
    left: 10px;
    top: 10px;
  }

  .b-header-image__frame-right-top {
    right: 0;
    top: 0;
    @include transform(rotate(90deg));
  }

  .b-header-image__frame-right-bottom {
    right: 10px;
    bottom: 10px;
    @include transform(rotate(180deg));
  }

  .b-header-image__frame-left-bottom {
    left: 0;
    bottom: 0;
    @include transform(rotate(270deg));
  }

}

.b-header-breadcrumbs {
  bottom: 30px;
  left: 30px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.b-header-breadcrumbs div {
  display: inline-block;
  margin-left: 5px;
}

.b-header-breadcrumbs div a,
.b-header-breadcrumbs div a:hover {
  color: $main-color-text;
  font: $main-font;
  font-size: 15px;
  text-decoration: none;
}

.b-header-breadcrumbs div a:hover {
  color: $main-color-text;
  text-decoration: none;
}

.divider::before {
  content: ">";
}

.b-header-breadcrumbs div:last-child a,
.b-header-breadcrumbs div:last-child a:hover {
  color: $main-color-header;
}


