.b-left-sidebar {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0;
}

.b-left-sidebar {
  .b-left-sidebar__title {
    color: $main-color-header;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: white;
  }

  .b-left-sidebar__title-line {
    width: 100%;
    height: 2px;
    border: 1px solid #f8d39a;
    margin-top: 14px;
  }

  .b-left-sidebar_list > ul {
    padding: 0;
    margin-top: 0;
  }

  .b-left-sidebar_list li {
    list-style: none;
    color: $main-color-text;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
  }

  .b-left-sidebar_list > ul > li {
    position: relative;
    min-height: 60px;
    margin-bottom: 5px;
  }

  .b-left-sidebar_list div,
  .b-left-sidebar_list a,
  .b-left-sidebar_list a:hover,
  .b-left-sidebar_list a:visited {
    color: $main-color-text;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    width: 90%;
    height: 100%;
    cursor: pointer;
  }

  .b-left-sidebar_list a:hover {
    color: black;
  }

  .b-left-sidebar_list div {
    color: $main-color-text;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .b-left-sidebar_list li a:hover,
  .b-left-sidebar_list li:hover {
    text-decoration: none;
  }

  .b-left-sidebar_consult {
    background-color: #f2f2f2;
    width: 100%;
    height: 470px;
  }

  .b-left-sidebar_consult__title {
    font-size: 18px;
    color: $main-color-header;
    padding-bottom: 5px;
  }

  .b-left-sidebar_consult_padding {
    padding: 10px 10px;
  }

  input, select, textarea {
    border: 1px solid #efefef;
    border-radius: 0;
    color: #a3a3a3;
    font-size: 16px;
    padding: 10px;
  }

  select {
    padding: 6px 8px;
  }

  .form-group {
    margin-bottom: 5px;
    position: relative;
  }

  .b-left-sidebar__required {
    width: 10px;
    height: 10px;
    background-color: #d2d2d2;
    position: absolute;
    top: 5px;
    left: 0;
  }

  .b-left-sidebar_icon {
    @extend .b-left-sidebar__required;
    top: 0;
  }

  .b-left-sidebar_explain {
    font-size: 14px;
    color: black;
  }

  .b-left-sidebar_explain-first {
    padding-left: 15px;
  }

  button {
    @include gradient(#d1b387, #a69172);
    @include border-radius(0);
    width: 100%;
    height: 40px;
    color: white;
    font-size: 14px;
    font-family: $main-font;
    letter-spacing: 2px;
  }

  button:hover {
    color: lightgrey;
  }

  .opener {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    cursor: pointer;
    font-size: 12px;
    color: white;
    right: 15px;
  }

  .closed {
    @include transform(rotate(270deg));
  }

  .b-left-sidebar_list .b-left-sidebar_lev2,
  .b-left-sidebar_list .b-left-sidebar_lev3 {
    margin: 0;
    padding: 0;
  }

  .b-left-sidebar_list .b-left-sidebar_lev2 {
    margin-top: -7px;
    margin-bottom: 5px;
  }

  .b-left-sidebar_list .b-left-sidebar_lev2 > ul {
    margin: 1px 5px 5px 5px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 267px;
  }

  .b-left-sidebar_lev2 ul {
    margin-left: 20px;
    padding: 0;
  }

  .b-left-sidebar_lev2 li {
    margin-left: 20px;
    border-bottom: 1px solid #e7e7e7;
  }

  .b-left-sidebar_lev2 li:last-child {
    border: none;
  }

  .b-left-sidebar_lev2 .opener {
    font-size: 10px;
    right: 5px;
  }

  .b-left-sidebar_lev3 ul {
    margin: 10px 0 10px 30px;
    padding: 0;
  }

  .b-left-sidebar_lev3 li {
    padding: 5px 0;
    border: none;
    margin-left: 20px;
  }

  .b-left-sidebar_lev2 li,
  .b-left-sidebar_lev2 li div,
  .b-left-sidebar_lev2 li a,
  .b-left-sidebar_lev2 li a:hover,
  .b-left-sidebar_lev2 li a:visited {
    font-size: 14px;
    color: $main-color-text;
  }

  .b-left-sidebar_lev3 li,
  .b-left-sidebar_lev3 li a,
  .b-left-sidebar_lev3 li a:hover,
  .b-left-sidebar_lev3 li a:visited {
    font-size: 12px;
    color: $main-color-text;
  }

  .b-left-sidebar_list2 a:hover,
  .b-left-sidebar_list3 a:hover {
    color: black;
  }

  .b-left-sidebar_lev3 .active,
  .b-left-sidebar_lev3 .active a,
  .b-left-sidebar_lev3 .active a:hover,
  .b-left-sidebar_lev3 .active a:visited,
  .b-left-sidebar_lev2 .active,
  .b-left-sidebar_lev2 .active a,
  .b-left-sidebar_lev2 .active a:hover,
  .b-left-sidebar_lev2 .active a:visited {
    color: #583426;
  }

  .b-left-sidebar_background {
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-left-sidebar_list .b-left-sidebar_background {
    width: 100%;
  }

  .b-left-sidebar_list .b-left-sidebar_no-background {
    background: lightgrey;
  }

  .b-left-sidebar_list .b-left-sidebar_background img {
    width: 100%;
    height: 100%;
  }

  .b-left-sidebar_list .b-left-sidebar_content {
    background: rgba(166, 145, 114, 0.5);
    color: $main-color-text;
    font-weight: bold;
    border: 1px solid white;
    position: absolute;
    top: 5px;
    left: 6px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 49px;
    width: 265px;
  }

  .b-left-sidebar_list .b-left-sidebar_content a,
  .b-left-sidebar_list a:hover {
    width: 90%;
    height: auto;
    color: $main-color-text;
    font-weight: bold;
  }

  .b-left-sidebar_lev2 {
    position: relative;
  }

  .b-left-sidebar_lev2__background {
    position: absolute;
    left: 0;
    top: 0;
  }

  .b-left-sidebar_lev2__background img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }

  .b-left-sidebar_lev2 .opener {
    color: $main-color-text;
  }

  .b-left-sidebar_lev2 .bullet {
    position: absolute;
    background: #a69172;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    margin: auto;
    top: 0;
    left: -12px;
    bottom: 0;
  }

  .b-left-sidebar_lev2 li {
    margin-left: 30px;
  }

  .b-left-sidebar_lev2 li:last-child {
    margin-bottom: 20px;
  }

  .b-left-sidebar_list .b-left-sidebar_decoration {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 80px;
    height: 63px;
  }

  .b-left-sidebar_list .b-left-sidebar_decoration_bottom {
    position: absolute;
    border-bottom: 1px solid #a69172;
    bottom: 11px;
    right: 13px;
    width: 170px;
    height: 0;
  }

  .b-left-sidebar_list .b-left-sidebar_decoration_left {
    position: absolute;
    border-left: 1px solid #a69172;
    top: 11px;
    left: 12px;
    width: 0;
    height: 200px;
  }

  .b-left-sidebar_lev2 li:last-child {
    margin-bottom: 10px;
  }

  .b-left-sidebar_list .b-left-sidebar_lev3 {
    border: none;
  }

  .b-left-sidebar_list .top-border {
    border-top: 1px solid #e7e7e7;
  }

}










