/* local npm is too long with scss that includes styles */
@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/century-gothic/century-gothic.woff) format('woff');
}

.b-services .icon-paint {
    background: url('/img/sprite.png') -15px 0;
}

.b-services .icon-sofa {
    background: url('/img/sprite.png') -110px 0;
}

.b-services .icon-fire {
    background: url('/img/sprite.png') -220px 0;
}

.b-footer .b-contact_item .icon-location {
    background: url('/img/sprite.png') -442px -20px;
}

.b-footer .b-contact_item .icon-time {
    background: url('/img/sprite.png') -310px -20px;
}

.b-footer .b-contact_item .icon-mail {
    background: url('/img/sprite.png') -400px -20px;
}

.b-footer .b-contact_item .icon-phone {
    background: url('/img/sprite.png') -355px -20px;
}

.b-left-sidebar__title {
    background: url('/img/left_sidebar_background.png') right center no-repeat;
}

.b-social .b-social__facebook {
    background: url('/img/sprite.png') -500px -17px;
}

.b-social .b-social__instagram {
    background: url('/img/sprite.png') -567px -17px;
}

.b-footer .b-footer_separator div {
    background: url('/img/sprite.png') -638px -10px;
}

.b-slider .b-slider_background-left,
.b-slider .b-slider_background-right {
    background: url('/img/main_background2.jpg');
}

.b-slider .b-slider_background-right {
    background: url('/img/main_background.jpg');
}

.b-consult {
    background-image: url('/img/consult_background.png');
}

.b-footer .b-contact .b-footer__background {
    background-image: url('/img/footer_background.jpg');
}

.b-footer .b-news .b-footer__background {
    background-image: url('/img/footer_background1.jpg');
}

.b-footer .b-brands .b-footer__background {
    background-image: url('/img/footer_background2.jpg');
}

.b-footer .b-about .b-footer__background {
    background-image: url('/img/footer_background2.jpg');
}

