.b-object-list {
  .b-object-list__title {
    border-bottom: 1px solid #f8d39a;
    font-size: 35px;
    color: #3a2f2e;
    padding: 10px 0 0 0;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
  }

  .b-object-list_row {
    margin-top: 10px;
    margin-left:20px;
  }

  .b-object-list_item {
    width: 282px;
    height: 300px;
    overflow: hidden;
    padding-right: 0;
    position: relative;
    display: block;
  }

  .b-object-list_item:hover {
    text-decoration: none;
  }

  .b-object-list_item:first-child {
    padding-left: 0;
  }

  .b-object-list_item img {
    width: 100%;
    @include border-radius(5px);
    opacity: 1;
    max-height: 220px;
  }

  .b-object-list_item img:hover {
    opacity: 0.5;
    transition-duration: 0.5s;
  }

  .b-object-list_item__title {
    text-transform: uppercase;
    font-size: 16px;
    color: #3a2f2e;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .b-object-list_item__image {
    position: relative;
  }

  .b-object-list_item__image.hovered img {
    opacity: 0.5;
  }

  .b-object-list_item__image.hovered {
    background-color: gray;
    transition-duration: 0.5s;
  }

  .b-object-list_item__image div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    font-size: 0;
    text-align: center;
    @include border-radius(10px);
    line-height: 100px;
    color: gray;
    transition-property: all;
    transition-duration: 0.3s;
  }

  .b-object-list_item__image:hover div {
    width: 100px;
    height: 100px;
    background: #6e6e6e;
    font-size: 50px;
    color: white;
  }

  .pagination .active span {
    background-color: #9e7e4d;
    border-color: #c7a455;
  }

  .pagination li a, .pagination li a:hover {
    color: #9e7e4d;
  }

}
