.b-object {
  position: relative;
  padding: 15px;
}

.b-object {
  .b-object__title {
    text-transform: uppercase;
    font-size: 20px;
    color: #5e5e5e;
    font-weight: bold;
    padding: 10px 150px 10px 35px;
    min-height: 70px;
  }

  .b-object__nav {
    position: absolute;
    top: -20px;
    right: 15px;
  }

  .b-object__nav a:hover {
    text-decoration: none;
  }

  .b-object__prev, .b-object__next {
    cursor: pointer;
    color: #a69172;
    font-size: 100px;
    display: inline-block;
    margin-left: 50px;
  }

  .b-object__prev:hover, .b-object__next:hover {
    color: #eacb9c;
  }

  .b-object__content {
    padding-left: 0;
  }

  .b-object__want {
    color: white;
    font-size: 16px;
    width: 100%;
    @include border-radius(0px);
    background: #a69172;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .b-object__want:hover {
    text-decoration: none;
    background: #d1b387;
  }

  .b-object_images {
    position: relative;
    overflow: hidden;
  }

  .b-object_images__left, .b-object_images__right {
    position: absolute;
    top: 0;
    left: 15px;
    background-color: #b1b1b1;
    height: 420px;
    width: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-object_images__left:hover,
  .b-object_images__right:hover {
    background-color: #D2D2D2;
  }

  .b-object_images__right {
    right: 15px;
    left: auto;
    @include transform(rotate(180deg));
  }

  .b-object_images_container {
    width: 2000%;
    position: relative;
    transition-duration: 0.6s;
    left: 0;
    top: 0;
  }

  .b-object_images_container img {
    height: 420px;
    width: auto;
  }

  .b-object_images_container a {
    display: inline-block;
    transition-duration: 0.6s;
    left: 0;
    width: 640px;
    height: 420px;
  }

  .b-object_images_viewable {
    width: 640px;
    height: 420px;
    margin: 0 auto;
    overflow: hidden;
  }

  .b-object_images_tn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .b-object_images_tn div {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
  }

  .b-object_images_tn div:hover,
  .b-object_images_tn div.active {
    border: 1px solid black;
  }

  .b-object_images_tn img {
    width: 60px;
    height: 60px;
  }
}

.fancybox-container #portfolio_want {
  background: #f1f1f1;
}
