.b-consult {
  width: 100%;
  height: 420px;
  background-color: #e6e6e6;
  position: relative;
  background-size: 50%;
}

.b-consult {
  .b-consult__title {
    padding-bottom: 20px;
    font-size: 28px;
    font-family: $main-font;
    color: black;
    font-weight: bold;
    background-color: #d3b588;
    position: absolute;
    top: 15px;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b-consult__title div{
    border: 1px solid white;
    width: 1150px;
    padding: 10px;
  }

  .b-consult_form {
    float: none;
    margin-top: 140px;
    padding-top: 10px;
    border: 1px solid #5a3226;
    width: 670px;
    height: 245px;
  }

  .row .b-consult_form__frame {
    width: 690px;
    height: 265px;
    border: 1px solid #5a3226;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
  }

  input, select {
    height: 35px;
    font-size: 16px;
    font-family: $main-font;
    padding: 5px 10px;
    border: 3px solid #e0e0e0;
    @include border-radius(0);
    color: gray;
  }

  input:focus, select:focus {
    border: 1px solid #66afe9;
    box-shadow: none;
  }

  .b-consult__phone, .b-consult__email {
    width: 50%;
    margin-bottom: 10px;
  }

  .b-consult__email, .b-consult__repair {
    padding-left: 5px;
  }
  .b-consult__phone, .b-consult__comment {
    padding-right: 5px;
  }

  .form-group {
    margin-bottom: 10px;
    position: relative;
  }

  .row > div {
    position: relative;
  }

  .b-consult__desc div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #848484;
  }

  .b-consult__desc {
    font-size: 12px;
    margin-top: 10px;
  }

  button {
    @include border-radius(0px);
    @include gradient(#d1b387, #a69172);
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
  }

  .b-consult__required {
    width: 10px;
    height: 10px;
    background-color: #d2d2d2;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-consult__phone .b-consult__required {
    left: 15px;
  }

  .b-consult__email .b-consult__required {
    left: 5px;
  }

  .b-consult_form form > .form-group {
    padding: 0;
  }

}

