.b-design-studio {
  margin-bottom: 20px;
  padding: 0;
}

.b-design-studio {
  .b-design-studio_decoration {
    position: relative;
    margin-top: -170px;
    z-index: 1;
  }

  .b-design-studio_decoration-left {
    @include transform(scale(-1, 1));
  }

  .b-design-studio_blocks {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-design-studio_block {
    display: inline-block;
    width: 270px;
    height: 415px;
    margin-right: 20px;
    position: relative;
  }

  .b-design-studio_block img {
    width: 270px;
    height: 415px;
  }

  .b-design-studio_block:last-child {
    margin-right: 0;
  }
  .b-design-studio_block:hover {
    box-shadow: 0 0 15px #d7d6d6;
  }

  .b-design-studio__line {
    width: 100%;
    height: 20px;
    background-color: #d3b588;
    margin-top: 20px;
  }

  .b-design-studio__border1 {
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid black;
    opacity: 0.3;
    width: 270px;
    height: 415px;
  }

  .b-design-studio__border2 {
    position: absolute;
    top: 6px;
    left: 6px;
    border: 2px solid #b9b7b7;
    opacity: 0.7;
    width: 258px;
    height: 403px;

  }

  .b-design-studio__title {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 70px;
    left: 0;
    padding: 20px;
    padding-left: 30px;
  }

  .b-design-studio__title a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .b-design-studio__title a:hover {
    color: #e6e6e6;
  }

  .b-design-studio__details {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-left: 30px;
  }

  .b-design-studio__details a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    @include border-radius(0);
  }

  .b-design-studio__details a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

}




