.b-design {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.b-design {
  img {
    width: 100%;
    height: 170px;
  }

  a {
    font-family: $main-font;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 56px;
    letter-spacing: 7px;
    padding: 0;
    color: #5a3226;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  }

  a:hover {
    text-decoration: none;
  }

  .b-design__background {
    display: flex;
    width: 100%;
  }

  .b-design__text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    width: 670px;
  }


  .b-design_photo {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 560px;
    overflow: hidden;
  }

  .b-design_photo img {
    height: 180px;
  }

  .b-design_border1{
    height: 200px;
    width: 580px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border:4px solid #d3b588;
  }

  .b-design_border2{
    height: 180px;
    width: 560px;
    position: absolute;
    top:10px;
    left: 0;
    right: 0;
    margin: auto;
    border:7px solid #5a3226;
    opacity: 0.6;
    background: transparent;
  }

  .b-design_border3{
    height: 165px;
    width: 546px;
    position: absolute;
    top:17px;
    left: 0;
    right: 0;
    margin: auto;
    border:1px solid #d9d0cd;
    opacity: 1;
    background: transparent;
  }

}