.b-footer {
  margin-top: 20px;
  margin-bottom: 40px;
}

.b-footer {
  .b-footer__title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 181, 136, 0.9);
  }

  .b-contact, .b-news, .b-brands, .b-about {
    padding: 0 2px;
  }

  .b-about {
    padding-right: 0;
  }

  .b-contact {
    padding-left: 0;
  }

  .b-contact .b-footer__background, .b-news .b-footer__background,
  .b-brands .b-footer__background, .b-about .b-footer__background {
    width: 100%;
    height: 45px;
  }

  .b-contact {
    position: relative;
    color: #261510;
  }

  .b-contact_item {
    position: relative;
    color: #4b4b4b;
    font-size: 18px;
    padding: 20px 0 0 60px
  }

  .b-contact_item a, .b-contact_item a:hover {
    text-decoration: none;
    color: #4b4b4b;
  }

  .b-contact_item .icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    left: 20px;
  }

  .b-news_item {
    padding:20px;
  }

  .b-news_item > div {
    font-size: 13px;
  }

  .b-news_item > span,
  .b-news_item > a,
  .b-news_item > a:hover {
    color: #5b5b5b;
    font-size: 16px;
    text-decoration: underline;
  }

  .b-news__archive {
    font-size: 16px;
    color: #370702;
    padding-top: 10px;
    text-decoration: underline;
  }

  .b-brand_item {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .b-about {
    overflow: hidden;
    height: 470px;
  }

  .b-about_slider {
    height: 370px;
    width: 2000%;
    display: flex;
  }

  .b-about_slider .b-slide {
    padding: 10px 20px 0 20px;
    font-size: 14px;
    display: inline-block;
    width: 275px;
    height: 380px;
    overflow:hidden;
  }

  .b-about_slider .b-slide img {
    display: block;
    margin-bottom: 10px;
    max-width: 130px;
  }

  .b-about_slider .b-slide a, .b-about_slider .b-slide a:hover {
    color: #370702;
    text-decoration: underline;
    font-size: 16px;
  }

  .b-about_slider .b-slider_group {
    display: inline-block;
  }

  .b-about_switch {
    margin-left: 40px;
  }

  .b-about_switch div {
    width: 15px;
    height: 15px;
    background-color: #d7d7d7;
    @include border-radius (100%);
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
  }

  .b-about_switch .active {
    background-color: #a69172;
  }

  .b-logo {
    height: 20px;
    width: 100%;
    margin-top: 70px;
    background-color: #a69172;
    position: relative;
  }

  .row {
    margin: 0;
  }

  .b-logo img {
    width: 250px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .b-rights {
    color: #261510;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .b-about_slide__left, .b-about_slide__right {
    display: none;
  }

   .b-footer_frame {
    position: absolute;
    left:5px;
    top:3px;
    height: 40px;
    width: 282px;
    border:1px solid white;
  }

   .b-footer_separator{
    position: absolute;
    height:490px;
    border-left:1px solid #a69172;
    top:0;
    right:0;
  }

   .b-news .b-footer_separator{
    height:450px;
  }

   .b-footer_separator div{
    position: absolute;
    top:220px;
    bottom:0;
    right:-10px;
    height:50px;
    width:20px;
    background-color: white;
  }


  //consult popup form
  .b-free-consult {
    width: 100%;
    height: 330px;
    background-color: #f1f1f1;
    position: relative;
    padding: 20px;
    margin-top: -40px;
  }

  .b-free-consult__title {
    color: $main-color-text;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .b-free-consult form {
    margin-top: 20px;
  }

  .b-free-consult .form-group {
    position: relative;
  }

  .b-free-consult input,
  .b-free-consult select,
  .b-free-consult textarea {
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #e1e1e1;
    @include border-radius(0);
    color: gray;
    position: relative;
  }

  .b-free-consult textarea {
    height: auto;
  }

  .b-free-consult .required {
    background-color: #d1d1d1;
    height: 10px;
    width: 10px;
  }

  .b-free-consult button {
    @include gradient(#d1b387, #a69172);
    @include border-radius(0);
    width: 100%;
    height: 40px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 20px;
  }

  .b-free-consult__required {
    font-size: 14px;
    color: #9c9a9a;
    position: relative;
  }

  .b-free-consult__required div:first-child {
    text-indent: 20px;
    margin-bottom: 5px;
  }

  .b-free-consult .b-free-consult__required .required {
    position: absolute;
    top: 5px;
    left: 0;
  }

  .b-free-consult .required {
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-news__archive a {
    font-size: 16px;
    color: #370702;
    padding-top: 10px;
    text-decoration: underline;
  }

}

#free_consult {
  background-color: #f1f1f1;
}

.contact-btn {
  z-index: 2000;
  position: fixed;
  bottom: 10px;
  left: 70%;
  background-color: #f44336;
  border-radius: 60px !important;
  -webkit-border-radius: 60px !important;
  height: 70px;
  width: 70px;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.b-free-consult_btn .contact-btn span {
  font-size:11px;
  font-weight: bold;
  text-align: center;
}

#special_offer{
  max-width: 80%;
  overflow: hidden;
}