.b-header__logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.b-header {
  .b-contact {
    font-family: $main-font;
    font-size: 16px;
    color: black;
    margin-top: -155px;
    line-height: 30px;
  }

  .b-contact a, .b-contact a:hover{
    font-family: $main-font;
    font-size: 16px;
    color: black;
    text-decoration: none;
  }

  .b-subscribe {
    margin-top: -80px;
    position: relative;
  }

  .b-subscribe .btn:hover {
    background: #f5f5f5;
  }

  .b-subscribe__title {
    font-family: $main-font;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .b-subscribe {
    form {
      margin-left: 5px;
    }

    span {
      font-size: 15px;
      color: #ababab;
    }

    .btn {
      padding: 3px;
      width: 30px;
      height: 30px;
      @include border-radius(0px);
      border-color: #e7e7e7;
      background-color: #eeeeee;
      margin-left: -5px;
      margin-top: -3px;
    }

    .b-subscribe__at {
      display: block;
      margin-top: -2px;
    }

    .active {
      background-color: #dfdfdf;
      box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.05);
    }

    input {
      height: 30px;
      border: 1px solid #e7e7e7;
      padding: 5px;
      font-size: 14px;
      color: $main-color-text;
      margin-left: -4px;
      margin-top: 1px;
    }

    .btn-subscribe {
      @include gradient(#d1b387, #a69172);
      @include border-radius(2px);
      width: auto;
      color: white;
      font-size: 14px;
      font-family: $main-font;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -3px;
    }

    .btn-subscribe:hover{
      background-color: #a69172;
    }


    .checkbox {
      color: $main-color-text;
      font-size: 14px;
      font-family: $main-font;
      margin-left: -5px;
      margin-top: 5px;
    }

    a {
      color: black;
      text-decoration: underline;
    }

    input[type="checkbox"] {
      margin-left: -20px;
      margin-top: -4px;
    }

    .b-subscribe .btn:focus,
    .b-subscribe button:focus,
    .b-subscribe button:active,
    .b-subscribe button:hover,
    .b-subscribe button{
      border: none;
      outline: none!important;
    }

  }
}


.b-social {
  margin-bottom: 15px;
}

.b-social {
  .b-social__facebook {
    width: 45px;
    height: 43px;
  }

  .b-social__instagram {
    width: 43px;
    height: 43px;
  }

  a {
    display: inline-block;
  }

}
