.b-slider {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: visible;
}

.b-slider {
  .b-slide {
    width: 200px;
    height: 420px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 5px;
  }

  .b-slide img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height:100%;
  }

  .b-slide img.hovered {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .b-slider_group {
    display: inline-block;
  }

  .b-slide__desc {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .b-slide__desc a {
    color: white;
    font-family: $main-font;
    font-size: 16px;
  }

  .b-slide_details {
    padding-left: 20px;
  }

  .b-slide_details a {
    bottom: 20px;
    position: absolute;
    font-family: $main-font;
    font-size: 14px;
    padding: 7px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    z-index: 1100;
  }

  .b-slide_details a:hover {
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
  }

  .b-slide__border {
    position: absolute;
    width: 200px;
    height: 420px;
    border: 5px solid rgba(0, 0, 0, .2);
    z-index: 1000;
  }

  .b-slider__frame {
    border: 1px solid rgba(255, 255, 255, .3);
    height: 410px;
    width: 190px;
    background-color: rgba(0,0,0,0.2);
  }

  .b-slider__frame:hover{
    background:transparent;
  }

  .b-slider_container {
    position: relative;
    transition-duration: 0.6s;
    @include transform(translate3d(-138px, 0px, 0px));
    width: 2000%;
  }

  .b-slider__arrow-right {
    position: absolute;
    top: 200px;
    right: 0;
    cursor: pointer;
    opacity: 0.7;
  }

  .b-slider__arrow-left {
    position: absolute;
    top: 200px;
    left: 0;
    @include transform(rotate(180deg));
    cursor: pointer;
    opacity: 0.7;
  }

  .b-slider__arrow-right:hover,
  .b-slider__arrow-left:hover {
    opacity: 1;
  }

  .b-slider_switch {
    display: flex;
    justify-content: center;
  }

  .b-slider_switch div {
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #d8d8d8;
    @include border-radius(5px);
    margin: 10px 5px;
    cursor: pointer;
  }

  .b-slider_switch .active {
    background-color: #a69172;
  }

  .b-slider_background-left,
  .b-slider_background-right {
    background-color: #aa9370;
    background-repeat: repeat-x;
    height: 384px;
    width: 1170px;
    position: absolute;
    top: 18px;
    left: -1170px;
  }

  .b-slider_background-right {
    left: auto;
    right: -1000px;
    width: 1000px;
  }

  .b-slider_wrap {
    width: 100%;
    height: 430px;
    overflow: hidden;
  }

}
