.b-menu {
  width: 100%;
}

.b-menu {
  .b-menu__line {
    height: 10px;
    @include gradient(#d1b387, #a69172);
    margin-top: 10px;
  }

  & > ul {
    border-bottom: 2px solid #a69172;
  }

  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    color: black;
  }

  li {
    display: table-cell;
    border-right: 1px solid #c4c4c4;
    text-align: center;
    @include gradientTop(#fcfcfc, #f0efef);
  }

  li:last-child {
    border-right: none;
  }

  li:hover {
    background: #eaeaea
  }

  a {
    color: black;
    min-width: 80px;
    font-size: 14px;
    font-family: $main-font;
    width: 100%;
    padding-top: 20px;
    display: block;
    height: 60px;
    text-align: center;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
    color: #5a3226;
  }

  .b-menu_level1, .b-menu_level2 {
    display: none;
  }

  & > ul > li {
    position: relative;
  }

  ul i {
    font-size: 12px;
  }

  .b-menu_level1 li,
  .b-menu_level1 li a,
  .b-menu_level2 li,
  .b-menu_level2 li a {
    display: block;
    text-align: left;
    color: white;
    border: none;
    border-bottom: 1px solid #b39e7f;
    background: #a69172;
    position: relative;
    padding: 0;
  }

  .b-menu_level1 li a,
  .b-menu_level2 li a {
    border: none;
    padding: 10px;
    height: auto;
  }

  .b-menu_level1 li:hover,
  .b-menu_level1 li a:hover,
  .b-menu_level1 .active {
    color: #f8d49a;
    text-decoration: none;
  }

  .b-menu_level1, .b-menu_level2 {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 2000;
    background-color: #a69172;
    padding: 0 10px;
    width: 250px;
  }

  .b-menu_level2 {
    left: 225px;
    top: 0;
  }

  .b-menu_level1 li a i {
    position: absolute;
    right: 5px;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 10px;
  }

  a.active .opener {
    @include transform(rotate(90deg));
  }

}

.b-menu-xs {
  li, li a {
    color: #777;
    position: relative;
    display: block;
  }

  li a:hover {
    text-decoration: none;
  }

  .b-menu-xs_level1, .b-menu-xs_level2 {
    list-style: none;
    padding-left: 20px;
  }

  .b-menu-xs_level1 li,
  .b-menu-xs_level2 li {
    padding: 5px;
  }

  li a i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    height: 10px;
    margin: auto;
  }

  .b-menu-xs_level1 i {
    right: 15px;
    font-size: 12px;
  }

  a.active i {
    @include transform(rotate(90deg));
  }

}
