.b-search-list {
  overflow: hidden;
}

.b-search-list__item a {
  font-size: 16px;
  color: #333333;
}

.b-search-list__item {
  margin-bottom: 10px;
}

.b-search-list__item:hover {
  color: #716e6e;
  text-decoration: none;
}

.b-search-list .pagination .active span {
  background-color: #a69172;
  border-color: #a69172;
  color: black;
}

.b-search-list .pagination li a {
  color: black;
}