.b-services {
  height: 440px;
  margin-top: 30px;
  position: relative;
}

.b-services {
  .b-services__title {
    font-family: $main-font;
    font-size: 27px;
    color: black;
    font-weight: bold;
    background-color: #d3b588;
    width: 300px;
    margin: auto;
    padding: 7px;
  }

  .b-services__title div {
    border: 1px solid white;
    padding: 5px;
  }

  .b-services_blocks {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .b-services_block {
    position: relative;
    width: 400px;
    height: 315px;
    display: table-cell;
    padding: 0;
    padding-right: 15px;
    margin-left: 10px;
  }

  .b-services_block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
  }

  .icon {
    overflow: hidden;
    position: absolute;
    height: 60px;
    width: 80px;
    top: 0;
    left: 40px;
  }

  .b-service_content {
    width: 380px;
    height: 230px;
    position: relative;
    margin-top: 90px;
    @include gradient(rgba(90, 50, 38, 0.6), rgba(38, 21, 16, 0.6));
  }

  .b-service_content .title {
    width: 100%;
    height: 70px;
    font-size: 18px;
    font-family: $main-font;
    color: #370603;
    background-color: #efecea;
    line-height: 1.2;
    padding: 15px 40px;
  }

  .b-service_content .content {
    color: white;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.1;
    padding: 12px 40px;
  }

  button {
    color: white;
    font-size: 18px;
    font-family: $main-font;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    @include border-radius(0px);
    margin-left: 40px;
  }

  button:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .3);
  }

  .b-services__left {
    position: absolute;
    top: -80px;
    left: 0;
    @include transform(scale(-1, 1));
  }

  .b-services__right {
    position: absolute;
    top: -80px;
    right: 0;
  }

}