.b-slider-interior {
  width: 100%;
  height: 470px;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
}

.b-slider-interior {

  .b-slider-interior_container {
    position: relative;
    transition-duration: 0.6s;
    left: 5px;
    z-index:10;
  }

  .b-slider_group {
    display: inline-block;
  }

  .b-slide {
    width: 270px;
    height: 430px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px 10px;
    box-shadow: 0 0 15px #e6e5e5;
    border: 1px solid #e6e6e6;
    font-family: $main-font;
    padding-top: 20px;
    background: white;
  }

  .b-slider-interior__content {
    width: 210px;
    height: 175px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .b-slider-interior__content button {
    @include border-radius(0px);
    @include gradient(#d1b387, #a69172);
    color: white;
    font-family: $main-font;
    font-size: 14px;
    padding: 5px 10px;
  }

  .b-slider-interior__content button:hover {
    background: #a69172;
  }

  .b-slider-interior__content .title {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: left;
  }
  .b-slider-interior__content div {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .b-slider-interior__content .text-center {
    text-align: center;
  }

  .b-slider-interior__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .b-slider-interior__text {
    height: 80px;
    overflow: hidden;
  }

  .circle {
    width: 200px;
    height: 200px;
    @include border-radius(100%);
    overflow: hidden;
    position: relative;
  }

  .frame {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 6px solid rgba(108, 80, 69, .7);
    @include border-radius(100%);
    top: 0;
    left: 0;
  }

  .frame div {
    border: 1px solid rgba(255, 255, 255, .5);
    @include border-radius(100%);
    width: 188px;
    height: 188px;
  }

  .b-slide-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }

  .quarter-right-bottom {
    position: absolute;
    width: 110px;
    height: 110px;
    background: transparent;
    border-right: 6px solid #dcdcdc;
    border-bottom: 6px solid #dcdcdc;
    @include border-radius(0 0 100% 0);
    bottom: -12px;
    right: 20px;
  }

  .quarter-left-bottom {
    position: absolute;
    width: 110px;
    height: 110px;
    background: transparent;
    border-left: 6px solid #dcdcdc;
    border-bottom: 6px solid #dcdcdc;
    @include border-radius(0 0 0 100%);
    bottom: -12px;
    left: 20px;
  }

  .quarter-right-top {
    position: absolute;
    width: 110px;
    height: 110px;
    background: transparent;
    border-right: 6px solid #dcdcdc;
    border-top: 6px solid #dcdcdc;
    @include border-radius(0 100% 0 0);
    top: -12px;
    right: 20px;
  }

  .quarter-left-top {
    position: absolute;
    width: 110px;
    height: 110px;
    background: transparent;
    border-left: 6px solid #dcdcdc;
    border-top: 6px solid #dcdcdc;
    @include border-radius(100% 0 0 0);
    top: -12px;
    left: 20px;
  }

  .b-slider-interior__arrow-left {
    position: absolute;
    left: 0;
    top: 190px;
    cursor: pointer;
    opacity: 0.7;
    z-index:20;
  }

  .b-slider-interior__arrow-right {
    position: absolute;
    right: 0;
    top: 190px;
    @include transform(rotate(180deg));
    cursor: pointer;
    opacity: 0.7;
    z-index:20;
  }

  .b-slider-interior__arrow-right:hover,
  .b-slider-interior__arrow-left:hover {
    opacity: 1;
  }

  .b-slider_switch div {
    width: 60px;
    height: 10px;
    background-color: #e6e6e6;
    display: inline-block;
    margin: 0 10px;
    @include border-radius(5px);
    cursor: pointer;
  }

  .b-slider_switch .active {
    @include gradient(#d1b387, #a69172);
  }

}