//Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
// Variables
@import "./../variables";
// Mixins
@import "./../mixins";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
  font-family: $main-font;
  overflow-x: hidden;
}

.container {
  margin-top: 0;
  background-color: white;
  padding: 0;
  min-width: 1170px;
  box-shadow: 0 0 100px #e6e5e5;
  position: relative;
}

.b-catalog_bottom-line, .b-bottom-line {
  height: 10px;
  @include gradient(#d1b387, #a69172);
  margin: 40px 0 20px 0;
  float: left;
  width: 100%;
}

.b-bottom-line {
  margin:0 0 5px 0;
}

#product_request_form {
  background: #f1f1f1;
}

@import "partials/header";
@import "partials/menu";
@import "partials/main_slider";
@import "partials/design";
@import "partials/slider_interior";
@import "partials/services";
@import "partials/consult";
@import "partials/footer";
@import "partials/design_studio";

//info page
@import "info_page/header_image";
@import "info_page/left_sidebar";
@import "info_page/content";

//catalog
//@import "catalog/header_image";
@import "catalog/catalog";
@import "catalog/category";
@import "catalog/products";
@import "catalog/product";
@import "catalog/defer";

//responsive styles
@import "media_768";
@import "media_370";

