@media (max-width: 767px) {
  body, html {
    min-width: 370px;
  }
  .container {
    margin-top: 0;
    background-color: white;
    padding: 0;
    min-width: 370px;
    max-width: 370px;
  }

  .container .b-header .b-contact {
    margin-top: 5px;
  }

  .b-header {
    .b-header__logo img {
      width: 170px;
      height: 76px;
      margin-left: 5px;
    }

    .b-subscribe {
      margin-top: 0;
    }

    .b-contact {
      margin-top: 18px;
    }

    .b-contact .text-right {
      text-align: left;
    }

    .b-subscribe .btn-subscribe {
      margin-top: 0;
    }

    .b-contact {
      font-size: 14px;
      margin-top: 10px;
      line-height: 20px;
    }

    .b-contact a, .b-contact a:hover {
      font-size: 14px;
      line-height: 20px;
    }

  }

  .b-menu-xs {
    margin-top: 100px;
  }

  .b-slider {
    height: 360px;
  }

  .b-slider .b-slider_wrap {
    height: 330px;
  }

  .container .b-slider .b-slider_background-left,
  .container .b-slider .b-slider_background-right {
    height: 285px;
  }

  .b-slider {
    .b-slide {
      height: 320px;
    }

    .b-slide__border {
      height: 320px;
    }

    .b-slider__frame {
      height: 310px;
    }

    .b-slider_container {
      @include transform(translate3d(-128px, 0px, 0px));
    }
  }

  .b-design {
    height: 110px;
    overflow: hidden;
    margin-top: 10px;
  }

  .b-design {
    img {
      height: 80px;
      width: auto;
    }

    .b-design__text {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 33px;
      width: 328px;
    }

    .b-design__background {
      position: absolute;
      width: 100%;
      height: 80px;
      left: -83px;
      top: 15px;
      bottom: auto;
      margin: auto;
      display: block;
    }

    a {
      font-size: 23px;
      letter-spacing: 6px;
      text-decoration: none;
    }

    .b-design_border1 {
      height: 105px;
      width: 315px;
      top: 2px;
    }

    .b-design_border2 {
      height: 91px;
      width: 300px;
      top: 9px;
    }
    .b-design_border3 {
      height: 77px;
      width: 286px;
      top: 16px;
    }

    .b-design_photo {
      width: 300px;
      top: 9px;
    }

    .b-design_photo img {
      height: 91px;
    }
  }

  .b-slider-interior {
    height: 390px;
  }

  .b-slider-interior {
    .b-slide {
      width: 160px;
      height: 350px;
    }

    .circle, .frame {
      width: 130px;
      height: 130px;
    }

    .frame div {
      width: 118px;
      height: 118px;
    }

    .quarter-right-bottom {
      width: 75px;
      height: 75px;
      bottom: -10px;
      right: 5px;
    }

    .quarter-right-top {
      width: 75px;
      height: 75px;
      top: -10px;
      right: 5px;
    }

    .quarter-left-top {
      width: 75px;
      height: 75px;
      top: -10px;
      left: 5px;
    }

    .quarter-left-bottom {
      width: 75px;
      height: 75px;
      bottom: -10px;
      left: 5px;
    }

    .b-slider_switch div {
      margin: 0 5px;
      width: 30px;
    }

    .b-slide-image {
      margin-bottom: 20px;
    }

    .b-slider-interior__content div {
      font-size: 10px;
      max-width: 125px;
      max-height: 73px;
      overflow: hidden;
    }

    .b-slider-interior__details {
      margin: 0 0 10px 0;
    }

    .b-slider-interior__content .text-center {
      text-align: left;
    }

    .b-slider-interior__content .title {
      max-height: 40px;
    }

    .b-slider-interior__arrow-left,
    .b-slider-interior__arrow-right {
      top: 130px;
    }

    .b-slider-interior__arrow-left img,
    .b-slider-interior__arrow-right img {
      width: 80%;
    }
  }

  .b-services {
    height: 1020px;
  }

  .b-services {
    .b-services__left, .b-services__right {
      display: none;
    }

    .b-services_blocks {
      margin-left: 0px;
    }

    .b-services_block {
      width: 370px;
      padding: 0;
      margin-left: 0;

      float: left;
    }

    .b-services_block img {
      width: 100%;
    }

    .icon {
      width: 70px;
      height: 70px;
    }

    .b-service_content {
      width: 370px;
      height: 220px;
    }

    .b-service_content .content {
      max-height: 90px;
      overflow: hidden;
    }

    .icon-paint, .icon-fire, .icon-sofa {
      background-size: auto 50px;
    }

    .icon-paint {
      background-position: -10px 0;
    }

    .icon-sofa {
      background-position: -80px 0;
    }

    .icon-fire {
      background-position: -150px 5px;
    }

  }

  .b-consult {
    height: 520px;
    margin-top: 30px;
  }

  .b-consult {
    .b-consult_form .row {
      margin: 0;
    }

    .b-consult__title div {
      font-size: 22px;
      width: 357px;
      padding: 2px;
    }

    button {
      width: 295px;
      margin-left: 10px;
      margin-top: 20px;
    }

    .b-consult__phone, .b-consult__comment {
      padding-right: 15px;
    }

    .b-consult__required {
      left: 15px;
    }

    .b-consult__desc {
      padding-left: 10px;
    }

    .row {
      margin: 0;
    }

    .b-consult__repair select {
      width: 310px;
      margin-left: 10px;
    }

    .b-consult_form form > .form-group {
      padding-left: 15px;
      padding-right: 15px;
    }

    .b-consult_form {
      width: 350px;
      margin-top: 110px;
      border: none;
    }

    .b-consult__repair select {
      width: 295px;
    }

    .b-consult_form__frame {
      display: none;
    }
  }

  .b-footer {

    .b-contact, .b-news, .b-brands, .b-about {
      padding: 10px 0 0 0;
      margin-top: 10px;
      border-top: 1px solid lightgray;
    }

    .b-about {
      border-top: none;
    }

    .b-footer_frame {
      width: 360px;
      top: 13px;
    }

    .b-about_slider .b-slide {
      width: 360px;
    }
  }

  //info page
  .b-header-image {
    width: 370px;
  }

  .b-header-image {
    .b-header-image__right-line {
      margin-right: -1110px;
    }

    .b-header-image__left-line {
      margin-left: -740px;
    }

    .b-header-image__background {
      width: 330px;
    }

    .b-header-image_title div {
      margin-top: 45px;
    }

    .b-header-image_title {
      font-size: 30px;
      height: 85px;
    }

    .b-header-image_title div {
      margin: auto;
      line-height: 20px;
      font-size: 20px;
      padding: 20px;
      max-width: 300px;
    }

    .b-header-image__border {
      width: 358px;
    }

    .b-header-image__file, .b-header-image__file img {
      height: 100%;
    }
  }

  //left sidebar consult
  .b-left-sidebar {
    margin-right: 0;
    padding-right: 0;
  }

  .b-left-sidebar {
    .b-left-sidebar_consult {
      height: 440px;
    }

    .b-left-sidebar_consult_padding .b-left-sidebar_consult__title-line {
      width: 135px;
    }

    .b-left-sidebar_list .b-left-sidebar_lev2 > ul {
      width: 359px;
    }

    .b-left-sidebar_list div.b-left-sidebar_content {
      width: 358px;
    }

  }

  //catalog page
  .b-header-catalog .b-header-image__left-line {
    margin-right: 370px;
    margin-left: 0;
  }

  .b-header-catalog .b-header-image__right-line {
    margin-right: -2220px;
  }

  .b-catalog {
    .b-catalog_item {
      width: 340px;
      margin-top: 10px;
    }

    .b-catalog_image__frame {
      width: 297px;
    }

    .b-catalog_content_lev1 div {
      font-size: 18px;
    }

    .b-catalog_content_lev2 div {
      font-size: 14px;
    }

    .b-catalog_content_lev2 {
      margin-left: 15px;
    }

    .b-catalog_content_lev3 {
      margin-left: 30px;
    }

    & > .row {
      margin: 0;
    }
  }

  //category
  .b-category {
    .b-category_item {
      width: 340px;
      height: 330px;
    }

    .b-category_item,
    .b-category_items > div:first-child,
    .b-category_items > div:last-child {
      margin-right: 0;
      margin-left: 45px;
      width: 250px;
    }

    .b-category_items {
      display: block;
      margin-right: 0;
    }

    .b-category__title {
      padding-left: 10px;
      height: auto;
    }

    .b-category_item .b-category_item__bottom {
      right: 76px;
    }

    .opener {
      top: 0;
      bottom: 0;
      margin: auto;
      height: 20px;
    }
    .b-category_row {
      margin-right: 0;
      padding-right: 0;
    }

    .b-category-hit {
      width: 340px;
      height: 165px;
    }

    .b-category-hit {
      .b-slide {
        margin-right: 5px;
        width: 103px;
        height: 150px;
      }

      .b-category-hit__content {
        width: 103px;
      }

      .circle, .frame {
        width: 83px;
        height: 83px;
      }

    }

  }

  //products
  .b-products {
    .b-products_items {
      display: block;
      margin-right: 0;
    }

    .b-products_item,
    .b-products_items > div:first-child,
    .b-products_items > div:last-child {
      margin-right: 0;
      margin-left: 45px;
    }

    .b-products_item {
      width: 250px;
      height: 360px;
    }

    .b-products_item .b-products_item__bottom {
      right: 76px;
    }

    .b-products-filter .form-group {
      margin-bottom: 10px;
    }

    .b-products-filter .form-group {
      margin-left: 10px;
    }

    .b-products-filter .form-group {
      margin-left: 10px;
    }

    .pull-right {
      float: none !important;
    }

    .b-products_item__details a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  //product
  .b-product {
    .b-product__title {
      margin-top: 10px;
    }

    .b-product_btn_quantity {
      margin-right: 10px;
    }

    .b-product_btn_defer,
    .b-product_btn_request {
      font-size: 14px;
    }

    .b-product_tabs_nav__link i {
      font-size: 22px;
      display: block;
      width: 30px;
    }

    .b-product_tabs_nav__link span {
      display: none;
    }

    .b-product_tabs_nav__link {
      padding: 10px;
    }
  }

  //deferred products
  .b-defer {
    .b-defer_contact {
      height: 595px;
    }

    .b-defer__image {
      height: 100px;
    }

    .b-defer_row {
      height: 200px;
    }

    .b-defer_row_btn {
      margin-top: 0;
    }

    .b-defer__quantity {
      margin-right: 10px;
    }

    .b-defer__color div {
      font-size: 14px;
      max-width: 120px;
      overflow: hidden;
    }

    .b-defer__change {
      font-size: 14px;
      padding: 10px 5px;
    }

    .b-defer__change i {
      display: none;
    }
  }

  #special_offer {
    text-align: center;
  }

  #special_offer img {
    width: 80%;
    height: auto;
  }

  .b-design-studio {
    .b-design-studio_block {
      margin: 10px auto;
      display: block;
    }
    .b-design-studio_blocks {
      display: block;
    }

    .b-design-studio_block:last-child {
      margin-right: auto;
    }
  }

}
