@media (min-width: 768px) and (max-width: 1169px) {
  .container {
    margin-top: 0;
    background-color: white;
    padding: 0;
    min-width: 768px;
    max-width: 768px;
  }

  .container .b-header .b-contact {
    margin-top: -60px;
  }

  .b-header {
    .b-header__logo img {
      width: 190px;
    }

    .b-subscribe {
      margin-top: 0;
    }

    .b-contact {
      margin-top: 18px;
      line-height: 22px;
    }

    .b-social {
      margin-bottom: 30px;
    }
  }

  .b-menu {
    a {
      font-size: 12px;
    }

    .b-menu__line {
      margin-top: 100px;
    }

  }

  .b-slider {
    height: 450px;
  }

  .b-slider .b-slider_container {
    @include transform(translate3d(-133px, 0px, 0px));
  }

  .b-design {
    height: 180px;
    margin-top: 20px;
  }

  .b-design {
    img {
      height: 120px;
    }

    .b-design_photo img {
      height: 155px;
    }

    .b-design_border1 {
      height: 175px;
    }

    .b-design_border2 {
      height: 155px;
    }

    .b-design_border3 {
      height: 141px;
    }

  }

  .b-consult > .row {
    margin: 0;
  }

  .b-consult button {
    margin-top: 27px;
  }

  .b-consult .b-consult__desc {
    font-size: 10px;
  }

  .b-consult .b-consult__title div {
    width: 748px;
  }

  .b-slider-interior {
    .b-slider_switch div {
      width: 30px;
      margin: 0 5px;
    }

    .b-slider-interior_container {
      left: 0;
    }

    .b-slide {
      width: 235px;
    }

    .quarter-right-bottom {
      bottom: -10px;
      right: 6px;
    }

    .quarter-left-bottom {
      bottom: -10px;
      left: 6px;
    }

    .quarter-right-top {
      top: -10px;
      right: 6px;
    }

    .quarter-left-top {
      top: -10px;
      left: 6px;
    }
  }

  .b-about .b-about_slider {
    height: 450px;
    width: 2000%;
  }

  .b-about .b-about_slider .b-slide {
    padding: 10px 20px 0 15px;
    font-size: 12px;
    width: 200px;
    height: 450px;
    display: inline-block;
  }

  .b-services {
    margin-top: 20px;
    height: 300px;
  }

  .b-services {
    .b-services_blocks {
      margin-top: 10px;
    }

    .b-service_content {
      width: auto;
    }

    .b-services_block {
      width: 250px;
      height: 220px;
      padding-right: 9px;
    }

    .b-services_block img {
      width: 250px;
      height: 220px;
    }

    .b-service_content .title {
      height: 50px;
      padding: 7px 30px;
      font-size: 14px;
    }

    .b-service_content {
      margin-top: 65px;
      width: 250px;
      height: 155px;
    }

    .b-service_content .content {
      padding: 5px 30px;
      overflow: hidden;
      height: 45px;
      font-size: 12px;
    }

    button {
      margin-left: 30px;
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 16px;
    }

    .b-services__left {
      left: 0;
      top: -52px;
    }

    .b-services__right {
      right: 0;
      top: -52px;
    }

    .b-services__left img, .b-services__right img {
      width: auto;
      height: 125px;
    }

    .icon {
      left: 30px;
      width: 50px;
      height: 50px;
    }

    .icon-paint, .icon-fire, .icon-sofa {
      background-size: auto 50px;
    }
  }

  .b-footer {
    .b-about_switch div {
      margin-right: 5px;
    }

    .b-brands .b-title {
      padding-left: 0;
    }

    .b-footer__title {
      font-size: 14px;
    }

    .b-about {
      height: 550px;
      overflow: hidden;
    }

    .b-footer_frame {
      width: 182px;
    }

    .b-contact_item {
      font-size: 14px;
      padding-left: 40px;
    }

    .b-contact_item .icon {
      left: 5px;
    }

    .b-news_item > span,
    .b-news_item > a,
    .b-news_item > a:hover {
      font-size: 14px;
    }

    .b-logo {
      margin-top: 40px;
    }

    .b-footer_separator {
      height: 570px;
    }

    .b-news .b-footer_separator {
      height: 520px;
    }
  }

  //info page
  .b-header-image {
    width: 768px;
  }

  .b-header-image {
    .b-header-image__right-line {
      margin-right: -2304px;
    }

    .b-header-image__left-line {
      margin-left: -1536px;
    }

    .b-header-image__background {
      width: 728px;
    }

    .b-header-image__file, .b-header-image__file img {
      height: 100%;
    }

    .b-header-image__border {
      width: 756px;
    }

    .b-header-image_title {
      height: 100px;
    }
  }

  //left sidebar consult
  .b-left-sidebar {
    margin-right: 0;
    padding-right: 0;
  }

  .b-left-sidebar {
    .b-left-sidebar_consult {
      height: 440px;
    }

    .b-left-sidebar_consult_padding .b-left-sidebar_consult__title-line {
      width: 330px;
      margin-top: 22px;
    }

    .b-left-sidebar_consult_padding .b-left-sidebar_consult__first-row {
      margin-top: 55px;
    }

    .b-left-sidebar_list div.b-left-sidebar_content {
      width: 755px;
    }

    .b-left-sidebar_list .b-left-sidebar_lev2 > ul {
      width: 757px;
    }

  }

  //catalog

  .b-header-catalog .b-header-image__left-line {
    margin-right: 768px;
    margin-left: 0;
  }

  .b-header-catalog .b-header-image__right-line {
    margin-right: -4605px;
  }

  .b-catalog {
    .b-catalog_item {
      width: 246px;
    }

    .b-catalog_image__frame {
      width: 205px;
    }

    .b-catalog_content_lev1 div {
      font-size: 18px;
    }

    .b-catalog_content_lev2 div {
      font-size: 14px;
    }

    .b-catalog_content_lev2 {
      margin-left: 15px;
    }

    .b-catalog_content_lev3 {
      margin-left: 30px;
    }
  }

  //category
  .b-category {
    .b-category_items {
      margin-right: 0;
    }

    div.b-category_item {
      width: 170px;
    }

    .b-category_item div.circle, .b-category_item .frame {
      width: 150px;
      height: 150px;
    }

    .b-category_item img {
      height: 150px;
    }

    .b-category_item .frame div {
      width: 138px;
      height: 138px;
    }

    .b-category_item .b-category_item__bottom {
      right: 43px;
      width: 85px;
      height: 85px;
    }

    .b-category_item__title,
    .b-products_item__title {
      margin-top: 10px;
    }

    .b-category_row {
      margin-right: 0;
      padding-right: 0;
    }

    .b-category-hit {
      width: 740px;
    }

    .b-category-hit .b-slide {
      margin-right: 20px;
    }

  }

  //products
  .b-products {
    .b-products_item {
      display: inline-block;
      height: 320px;
      width: 170px;
    }

    .b-products_items {
      margin-right: 0;
    }

    .b-products-filter {
      margin-right: 0;
    }

    .b-products_item .b-products_item__bottom {
      right: 43px;
      width: 85px;
      height: 85px;
    }

    .b-products_item .frame div {
      width: 138px;
      height: 138px;
    }

    .b-products_item img {
      height: 150px;
    }

    .b-products_item div.circle,
    .b-products_item div.frame {
      width: 150px;
      height: 150px;
    }

  }

  //defer products
  .b-defer .b-defer_contact__required {
    font-size: 12px;
  }

  .b-defer .b-defer_contact button {
    margin-top: 27px;
  }

  .b-product .b-product_images__main {
    margin: auto;
    margin-bottom: 30px;
  }

  #special_offer {
    text-align: center;
  }

  #special_offer img {
    width: 80%;
    height: auto;
  }

  .b-design-studio {
    .b-design-studio_block img {
      width: 175px;
    }

    .b-design-studio_block {
      width: 175px;
    }

    .b-design-studio__border2 {
      width: 163px;
    }

    .b-design-studio__border1 {
      width: 175px;
    }

    .b-design-studio_block {
      margin-right: 10px;
    }

    .b-design-studio__title, .b-design-studio__title a {
      font-size: 16px;
    }
  }

}