.b-menu_btn {
    margin-bottom: 10px;
}

.form-inline {
    display: inline-block;
}

.b-menu ul, .b-category ul {
    list-style: none;
    margin-top: 10px;
}

.b-menu ul li:last-child, .b-category ul li:last-child {
    border-bottom: none;
}

.b-menu .b-menu_sortable_level0,
.b-category .b-category_sortable_level0 {
    padding-left: 0
}

.b-menu .b-menu_sortable_level0 li,
.b-menu .b-menu_sortable_level0 li a,
.b-category .b-category_sortable_level0 li,
.b-category .b-category_sortable_level0 li a {
    border-top: 1px solid #c5c5c5;
    font-weight: normal;
    color: #454545;
}

.b-menu .b-menu_sortable_level0 li a,
.b-category .b-category_sortable_level0 li a {
    border: none;
    width: 100%;
    padding: 10px;
    display: block;
}

.b-menu .b-menu_sortable_level0 li > a,
.b-category .b-category_sortable_level0 li > a {
    padding-left: 20px;
}

.b-menu .b-menu_sortable_level0 li a:hover,
.b-category .b-category_sortable_level0 li a:hover {
    text-decoration: none;
}

.b-menu .b-menu_sortable_level1,
.b-menu .b-menu_sortable_level2,
.b-category .b-category_sortable_level1,
.b-category .b-category_sortable_level2 {
    margin-top: 0;
}

.b-menu .b-menu_sortable_level0 .b-menu_sortable__edit,
.b-category .b-category_sortable_level0 .b-category_sortable__edit {
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}

.b-menu .b-menu_sortable_btn,
.b-category .b-category_sortable_btn {
    text-align: right;
}

.b-menu .b-menu_sortable_btn > a,
.b-menu .b-menu_sortable_btn > form,
.b-category .b-category_sortable_btn > a,
.b-category .b-category_sortable_btn > form {
    margin-top: 2px;
    margin-right: 5px;
}

.b-menu .b-menu_sortable__title,
.b-category .b-category_sortable__title {
    margin-right: 0
}

.b-menu .b-menu_sortable__edit,
.b-category .b-category_sortable__edit {
    margin-left: 0
}

.b-menu ul li:hover,
.b-category ul li:hover {
    background: #fcfcfc;
}

.b-menu .b-menu_sortable_level1 li:hover,
.b-category .b-category_sortable_level1 li:hover {
    background: #f3f3f3;
}

.b-menu .b-category_sortable_level2 li:hover,
.b-category .b-category_sortable_level2 li:hover {
    background: #ebebeb;
}

.b-product .b-product-photos_dropzone,
.b-product .b-product-colors_dropzone {
    width: 100%;
    font-size: 20px;
    border: 1px solid gray;
}

.b-product .b-product_current-photos,
.b-product .b-product_current-colors {
    list-style: none;
    padding-left: 0;
}

.b-product .b-product_current-photos li,
.b-product .b-product_current-colors li {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px;
    position: relative;
}

.b-product .b-product_current-colors li {
    height: 250px;
    margin-top: 20px;
}

.b-product .b-product_current-colors li .form-control {
    margin-left: 10px;
    margin-top: 10px;
}

.b-product .b-product_current-photos li img,
.b-product .b-product_current-colors li img {
    width: 220px;
    height: 220px;
    margin: 12px;
}

.b-product .b-product_current-colors li img {
    margin-top: 5px;
}

.b-product .b-product_photos-remove,
.b-product .b-product_colors-remove {
    position: absolute;
    top: 15px;
    right: -10px;
    opacity: 0.4;
}

.b-product .b-product_colors-remove {
    top: 50px;
}

.b-product .b-product_photos-remove:hover,
.b-product .b-product_colors-remove:hover {
    opacity: 0.8;
}

.b-product_autocomplete:hover {
    background: #f3f3f3;
}

.b-product_autocomplete img {
    display: inline-block;
}

.b-product #category {
    height: 200px;
}

.b-product #category option {
    border-bottom: 1px dotted gray;
    padding: 5px;
}

.b-product #category option:first-child {
    border-bottom: none;
}

.b-product .b-product_photos input,
.b-product .b-product_photos a,
.b-product .b-product_colors input,
.b-product .b-product_colors a {
    width: 45%;
    display: inline-block;
}

.b-product .b-product_photos a,
.b-product .b-product_colors a {
    color: white;
}

.b-product .b-product_photos label,
.b-product .b-product_colors label {
    display: block;
}

.b-product .b-product_photos-loading,
.b-product .b-product_colors-loading {
    display: none;
}

.b-main_interior-list ul, .b-portfolio_list ul {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-top: 10px;
}

.b-main_interior-list li, .b-portfolio_list li {
    position: relative;
    margin-right: 10px;
    width: 200px;
    display: inline-block;
}

.b-main_interior-remove, .b-portfolio_remove {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.5;
}

.b-main_interior-remove:hover, .b-portfolio_remove:hover {
    opacity: 0.7;
}

.b-product_related__autocomplete {
    font-size: 14px;
    padding: 5px;
}

.b-product .b-product_related__list {
    list-style: decimal;
    margin-top: 10px;
    font-size: 16px;
}

.b-product .b-product_related__delete span {
    font-size: 12px;
    margin-left: 10px;
}

.b-filter .b-filter__create {
    margin-bottom: 10px;
}

.b-filter .b-filter_list {
    list-style: decimal;
}

.b-filter .b-filter__add-item {
    width: 200px;
    display: inline-block;
}

.b-filter .b-filter__remove-item {
    color: black;
    text-decoration: none;
}

.panel-body #category {
    height: 300px;
}

.b-users .btn-primary {
    margin-bottom: 10px;
}

.b-subscribe .form-group{
    position: relative;
}

.b-subscribe input[type=checkbox] {
    position: absolute;
    margin-left: 5px;
}