//Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
//@font-face {
//  font-family: 'Ropa Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: url(/fonts/ropa-sans/RopaSansSCPTT.woff) format('woff');
//}

// Variables
@import "./../variables";
// Mixins
@import "./../mixins";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
  font-family: $main-font;
  min-width: 1170px;
}


@import "sidebar";
@import "partials/photos";
