.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

#sidebar {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar {
  &.toggled {
    padding-left: 220px;
  }

  & > nav {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  & > nav::-webkit-scrollbar {
    display: none;
  }

  &.toggled > nav {
    width: 220px;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav {
  li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
  }

  li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
  }

  li a {
    font-size: 16px;
  }

  & > li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
    font-size: 18px;
  }

  & > li:first-child:before {
    background-color: #1a1a1a;
  }

  li:before {
    background-color: #292525;
  }

  li:hover:before,
  li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
  }

  li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
  }

  li a:hover, li a:active,
  li a:focus, li.open a:hover,
  li.open a:active, li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }

  & > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
  }

  .dropdown-menu li {
    padding-left: 10px;
  }

  .dropdown-menu li a {
    font-size: 14px;
  }
}


.b-sidebar__btn {
  position: fixed;
  top: 10px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}


.b-sidebar__btn{
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-closed .hamb-top,
  &.is-closed .hamb-middle,
  &.is-closed .hamb-bottom,
  &.is-open .hamb-top,
  &.is-open .hamb-middle,
  &.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
  }

  &.is-closed .hamb-top,
  &.is-closed .hamb-middle,
  &.is-closed .hamb-bottom {
    background-color: #1a1a1a;
  }

  &.is-closed .hamb-top,
  &.is-closed .hamb-middle,
  &.is-closed .hamb-bottom {
    background-color: #1a1a1a;
  }

  &.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
  }

  &.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-open .hamb-top,
  &.is-open .hamb-middle,
  &.is-open .hamb-bottom {
    background-color: #1a1a1a;
  }

  &.is-open .hamb-top,
  &.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
  }

  &.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
  }

  &.is-open .hamb-middle {
    display: none;
  }

  &.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
  }

  &.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
  }

  &.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
  }

}






