@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin gradient($start, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(left,  $start 1%, $end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $start 1%,$end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $start 1%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 */
}

@mixin gradientTrans($start, $end){
  background: -webkit-linear-gradient(left, $start, $end); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $start, $end); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $start, $end); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $start, $end); /* Standard syntax (must be last) */
}


@mixin gradientTop($start, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top,  $start 1%, $end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $start 1%,$end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $start 1%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 */
}

@mixin transform($param){
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  transform: $param;
}


