.b-photos {
  position: relative;
}

.b-photos {

  .b-photos_remove, .b-photos_edit, .b-photos_copy {
    position: absolute;
    top: 30px;
    left: 15px;
    opacity: 0.5;
  }

  .b-photos_remove {
    left: 95px;
  }

  .b-photos_copy {
    left: 55px;
  }

  .b-photos_remove:hover,
  .b-photos_edit:hover,
  .b-photos_copy:hover {
    opacity: 0.8;
  }

  .b-photos_gallery {
    margin-top: 20px;
  }

  .b-photos_gallery .row {
    margin-bottom: 10px;
  }

  .b-photos_gallery__name {
    height: 30px;
    font-size: 10px;
    overflow: hidden;
  }

  .b-photos__checkbox input {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
  }

  .b-photos__checkbox input:hover,
  .b-photos__checkbox input:checked {
    opacity: 0.8;
  }

  .b-photos-menu {
    margin-left: 10px;
  }
}