.b-catalog{
  & .b-catalog_item {
    width: 380px;
    overflow: hidden;
    position: relative;
    padding: 0 10px;
  }

  & > .row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  & > .row:first-child {
    margin-top:0;
  }

  .b-catalog_image {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .b-catalog_image img {
    height: 220px;
    width: 100%;
  }

  .b-catalog_image__frame {
    position: absolute;
    width: 340px;
    height: 200px;
    background: transparent;
    border: 1px solid white;
    top: 10px;
    left: 10px;
  }

  .b-catalog_content {
    border: 1px solid #ececec;
  }

  .b-catalog_content_lev1,
  .b-catalog_content_lev2,
  .b-catalog_content_lev3 {
    position: relative;
    border-bottom: 1px solid #ececec;
  }

  .b-catalog_content_lev1 div {
    font-size: 22px;
    color: $main-color-header;
    display: inline-block;
    margin: 10px 10px;
    width:90%;
  }

  .b-catalog_content_lev2 {
    margin-left:30px;
  }

  .b-catalog_content_lev2 div {
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
    color: #965440;
    width:90%;
  }

  .b-catalog_content_lev1 div a,
  .b-catalog_content_lev2 div a{
    color: $main-color-header;
  }

  .b-catalog_content_lev1 div a:hover,
  .b-catalog_content_lev2 div a:hover{
    text-decoration: none;
    color: $main-color-header;
  }

  .b-catalog_content_lev3 {
    margin-left:60px;
  }

  .b-catalog_content_lev3 div,
  .b-catalog_content_lev3 a {
    font-size: 12px;
    color: gray;
    margin: 10px 0;
    display: block;
  }

  .b-catalog_content_lev3 a:hover{
    text-decoration: none;
  }

  .b-catalog_content .opener {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: $main-color-text;
    position: absolute;
    right: 5px;
    cursor: pointer;
    margin:auto;
    top:0;
    bottom:0;
  }

  .b-catalog_content .closed {
    @include transform(rotate(270deg));
  }

  .b-catalog__social {
    margin-top: 20px;
    margin-left: 20px;
  }

}
