.b-category {
  .b-category__title {
    font-size: 18px;
    color: $main-color-text;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #5a3226;
    border-bottom: 1px solid #5a3226;
    padding: 10px;
    padding-left: 40px;
    height: 47px;
    overflow: hidden;
  }

  .b-category_item__title a {
    font-size: 16px;
    color: $main-color-text;
  }

  .b-category_row {
    background: #f7f4ef;
    padding: 5px;
    position: relative;
  }

  .b-category_row > img {
    position: absolute;
    height: 58px;
    width: 55px;
    left: 0;
    top: -1px;
  }

  .opener {
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    right: 12px;
    top: 12px;
    position: absolute;
  }

  .row {
    margin-left: 0;
    margin-right: 10px;
    //margin-top: 30px;
    margin-top: 10px;
  }

  .row:first-child {
    margin-top: 0;
  }

  //sale hits
  .b-category-hit {
    width: 840px;
    height: 185px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
  }

  .b-category-hit {
    .b-category-hit_container {
      position: relative;
      transition-duration: 0.6s;
    }

    .b-slider_group {
      display: inline-block;
    }

    .b-slide {
      width: 126px;
      height: 175px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 5px 10px 5px 5px;
      box-shadow: 0 0 15px #e6e5e5;
      border: 1px solid #e6e6e6;
      font-family: $main-font;
      padding-top: 10px;
    }

    .b-category-hit__content {
      width: 120px;
      height: 35px;
      padding: 0 5px;
      position: relative;
      overflow: hidden;
      text-align: center;
    }

    .b-category-hit__content .title {
      font-size: 12px;
      color: black;
      font-weight: bold;
      text-align: center;

      margin-bottom: 10px;
      line-height: 1.2;
    }

    //.b-category-hit__content div {
    //  font-size: 14px;
    //  color: black;
    //  margin-bottom: 10px;
    //  line-height: 1.2;
    //}

    .b-category-hit__content .text-center {
      text-align: center;
    }

    .circle {
      width: 110px;
      height: 110px;
      border-radius: 100%;
      @include border-radius(100%);
      overflow: hidden;
      position: relative;
    }

    .frame {
      width: 110px;
      height: 110px;
      position: absolute;
      border: 6px solid rgba(108, 80, 69, .7);
      border-radius: 100%;
      @include border-radius(100%);
      top: 0;
      left: 0;
    }

    .frame div {
      border: 1px solid rgba(255, 255, 255, .5);
      @include border-radius(100%);
      width: 98px;
      height: 98px;
    }

    .b-slide-image {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 5px;
      position: relative;
    }

    .b-category-hit__arrow-left {
      position: absolute;
      left: 0;
      top: 65px;
      cursor: pointer;
      opacity: 0.7;
    }

    .b-category-hit__arrow-right {
      position: absolute;
      right: 0;
      top: 65px;
      @include transform(rotate(180deg));
      cursor: pointer;
      opacity: 0.7;
    }

    .b-category-hit__arrow-left img,
    .b-category-hit__arrow-right img {
      width: 35px;
      height: 48px;
    }

    .b-category-hit__arrow-right:hover,
    .b-category-hit__arrow-left:hover {
      opacity: 1;
    }
  }



  .b-category_items {
    margin-top: 0;
  }

  .b-category_item {
    overflow: hidden;
    display: inline-block;
    margin: 20px 15px auto auto;
    position: relative;
    box-shadow: 0 0 15px #e6e5e5;
    border: 1px solid #e6e6e6;
    height: 320px;
    width: 195px;
  }

  .b-category_item:hover {
    box-shadow: 0 0 15px #d3d2d2;
    border: 1px solid #d3d2d2;
  }

  .b-category_item img {
    width: 100%;
    height: 170px;
  }

  .b-category_items > div:first-child {
    margin-left: 0;
  }

  .b-category_items > div:last-child {
    margin-right: 0;
  }

  .closed {
    @include transform(rotate(270deg));
  }

  .b-category_item__details a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto auto;
    color: white;
    font-size: 16px;
    background: #d1b387;
    background: linear-gradient(to right, #d1b387 1%, #a69172 100%);
    border-radius: 0;
    line-height: 30px;
    height: 43px;
    width: 140px;
  }

  .b-category_item__details a:hover {
    text-decoration: none;
    background: #a69172;
  }

  .b-category_item__details .fa {
    font-size: 30px;
  }

  .b-category_item__title {
    padding: 10px;
    margin-top: 5px;
    max-height: 80px;
    overflow: hidden;
  }

  .b-category_item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    position: relative;
  }

  .b-category_item .circle {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
  }

  .b-category_item .frame {
    width: 170px;
    height: 170px;
    position: absolute;
    border: 6px solid rgba(108, 80, 69, 0.7);
    border-radius: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  .b-category_item .frame div {
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    width: 158px;
    height: 158px;
  }

  .b-category_item .b-category_item__bottom {
    position: absolute;
    width: 95px;
    height: 95px;
    background: transparent;
    border-right: 5px solid #e9e9e9;
    border-bottom: 5px solid #e9e9e9;
    border-radius: 0 0 100% 0;
    bottom: -30px;
    right: 50px;
    transform: rotate(45deg);
  }

  .b-category__social {
    margin-top: 20px;
  }

}
