.b-defer {

  .b-defer_row {
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .b-defer_row img {
    width: 100px;
  }

  .b-defer_row_info {
    border-bottom: 1px solid #e7e7e7;;
  }

  .b-defer_title {
    font-size: 18px;
    color: #5e5e5e;
  }

  .b-defer__volume {
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7e7;
    color: #e7e7e7;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 2.2;
    overflow: hidden;
    margin-right: 10px;
  }

  .b-defer__quantity {
    width: 50px;
    height: 40px;
    background: #f0f0f0;
    color: darkgray;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 100px;
  }

  .b-defer__color {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b-defer__color img {
    height: 40px;
    width: 40px;
  }

  .b-defer__color div {
    color: darkgray;
    font-size: 18px;
    display: inline-block;
    margin-left: 5px;
  }

  .b-defer_row_btn {
    display: flex;
    align-items: center;
    margin: 15px 0 15px -15px;
    position: relative;
  }

  .b-defer__change {
    font-size: 16px;
    color: darkgray;
    padding: 10px 20px;
    border: 1px solid #e7e7e7;
    position: absolute;
    right: -5px;
    cursor: pointer;
  }

  .b-defer__change i {
    font-size: 12px;
    padding-right: 10px;
  }

  .b-defer__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .b-defer_contact {
    width: 100%;
    height: 330px;
    background-color: #f1f1f1;
    position: relative;
    padding: 20px;
  }

  .b-defer_contact__title {
    font-size: 18px;
    color: $main-color-text;
  }

  .b-defer_contact form {
    margin-top: 20px;
  }

  .b-defer_contact .form-group {
    position: relative;
  }

  .b-defer_contact input,
  .b-defer_contact select,
  .b-defer_contact textarea {
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #e1e1e1;
    @include border-radius(0);
    color: gray;
    position: relative;
  }

  .b-defer_contact textarea {
    height: auto;
  }

  .b-defer_contact .required {
    background-color: #d1d1d1;
    height: 10px;
    width: 10px;
  }

  .b-defer_contact button {
    @include gradient(#d1b387, #a69172);
    @include border-radius(0);
    width: 100%;
    height: 40px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 20px;
  }

  .b-defer_contact__required {
    font-size: 14px;
    color: #9c9a9a;
    position: relative;
  }

  .b-defer_contact__required div:first-child {
    text-indent: 20px;
    margin-bottom: 5px;
  }

  .b-defer_contact .b-defer_contact__required .required {
    position: absolute;
    top: 5px;
    left: 0;
  }

  .b-defer_contact .required {
    position: absolute;
    top: 0;
    left: 0;
  }
}