.b-filter {
  position: relative;
}

.b-filter {
  .b-filter_field {
    width: 87px;
    height: 125px;
    position: relative;
    display: inline-block;
    margin: 5px 10px 5px 5px;
    box-shadow: 0 0 15px #e6e5e5;
    border: 1px solid #e6e6e6;
    font-family: $main-font;
    padding-top: 10px;
  }

  .b-filter_field:hover {
    background-color: rgba(240, 240, 240, .2);
  }

  .b-filter_field.active {
    background-color: #f7f7f7;
  }

  .b-filter_field .fa-times {
    position: absolute;
    right: -7px;
    top: -9px;
    color: gray;
    font-size: 16px;
  }

  .b-filter_field .fa-times:hover {
    position: absolute;
    right: -7px;
    top: -9px;
    color: #4b4b4b;
    font-size: 16px;
  }

  .b-filter_field__content {
    width: 87px;
    height: 40px;
    padding: 0 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  .b-filter_field__content .title {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .circle {
    width: 60px;
    height: 60px;
    @include border-radius(100%);
    overflow: hidden;
    position: relative;
  }

  .frame {
    width: 60px;
    height: 60px;
    position: absolute;
    border: 4px solid rgba(108, 80, 69, .7);
    @include border-radius(100%);
    top: 0;
    left: 0;
  }

  .frame div {
    border: 1px solid rgba(255, 255, 255, .5);
    @include border-radius(100%);
    width: 52px;
    height: 52px;
  }

  .b-filter_field__img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
  }

  .row:first-child {
    margin-top: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
  }

  .b-filter_title {
    background: #f7f4ef;
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
  }

  .b-filter_title > div {
    font-size: 18px;
    color: black;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #5a3226;
    border-bottom: 1px solid #5a3226;
    padding: 10px;
    padding-left: 40px;
    height: 47px;
    overflow: hidden;
  }

  .b-filter_title > img {
    position: absolute;
    height: 58px;
    width: 55px;
    left: 0;
    top: -1px;
  }

}


