.b-header-image {
  width: 1170px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-bottom: 10px;
  //height: 150px;
  //margin-top: 15px;
  top: 1px;
  margin-bottom: 0;
}

.b-header-image {
  .b-header-image__background-left {
    height: 430px;
    width: 1170px;
    position: absolute;
    top: 12px;
    left: -1170px;
    background-repeat: repeat-x;
  }

  .b-header-image__background-right {
    left: auto;
    right: -1000px;
    width: 1000px;
    background-repeat: repeat-x;
    height: 430px;
    position: absolute;
    top: 12px;
  }

  .b-header-image__background {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-header-image__border1 {
    height: 170px;
    width: 560px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border: 7px solid #5a3226;
    opacity: 0.6;
    background: transparent;
  }

  .b-header-image__border2 {
    height: 156px;
    width: 546px;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #d9d0cd;
    opacity: 1;
    background: transparent;
  }

  .b-header-image__photo {
    height: 170px;
    width: 560px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
  }

  .b-header-image_title {
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 33px;
    padding: 0;
    color: #5a3226;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 700px;
    text-transform: uppercase;
  }

  .b-header-image_title div {
    display: inline-block;
    position: relative;
  }

  .b-header-image_title img {
    position: absolute;
    top: -37px;
    left: -15px;
  }

}

.b-header-breadcrumbs {
  bottom: 30px;
  left: 30px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.b-header-breadcrumbs div {
  display: inline-block;
  margin-left: 5px;
}

.b-header-breadcrumbs div a,
.b-header-breadcrumbs div a:hover {
  color: $main-color-text;
  font: $main-font;
  font-size: 15px;
  text-decoration: none;
}

.b-header-breadcrumbs div a:hover {
  color: $main-color-text;
  text-decoration: none;
}

.divider::before {
  content: ">";
}

.b-header-breadcrumbs div:last-child a,
.b-header-breadcrumbs div:last-child a:hover {
  color: $main-color-header;
}


