.b-products {
  .opener {
    font-size: 14px;
    cursor: pointer;
  }

  .row {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 30px;
  }

  .row:first-child {
    margin-top: 0;
  }

  .b-products_items {
    margin-top: 0;
  }

  .b-products_item {
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
    position: relative;
  }

  .b-products-filter .form-group {
    margin-left: 20px;
  }

  .b-products-filter .form-group label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    color: $catalog-color-text;
  }

  .b-products-filter .form-group select {
    height: 30px;
    color: $catalog-color-text;
    @include border-radius(0);
  }

  .b-products_item__title, .b-products_item__title a {
    font-size: 18px;
    color: $main-color-header;
    padding: 10px;
    margin-top: 5px;
  }

  .b-products_item__title {
    padding: 10px;
    margin-top: 5px;
  }

  .b-products_item__details a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto auto;
    color: white;
    font-size: 16px;
    width: 130px;
    height: 45px;
    background: #d1b387;
    background: linear-gradient(to right, #d1b387 1%, #a69172 100%);
    @include border-radius(0);
    line-height: 30px;

  }

  .b-products_item__details .fa {
    font-size: 30px;
  }

  .b-products_item__details a:hover {
    text-decoration: none;
    background: #a69172;
  }

  .b-products_item img {
    height: 150px;
  }

  .b-products_item {
    margin-right: 15px;
    box-shadow: 0 0 15px #e6e5e5;
    border: 1px solid #e6e6e6;
    height: 320px;
    width: 195px;
    position: relative;
  }

  .b-products_item:hover {
    box-shadow: 0 0 15px #d3d2d2;
    border: 1px solid #d3d2d2;
  }

  .b-products_item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    position: relative;
  }

  .b-products_item .circle {
    width: 170px;
    height: 170px;
    @include border-radius(100%);
    overflow: hidden;
    position: relative;
  }

  .b-products_item .frame {
    width: 170px;
    height: 170px;
    position: absolute;
    border: 6px solid rgba(108, 80, 69, 0.7);
    @include border-radius(100%);
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  .b-products_item img {
    height: 170px;
  }

  .b-products_item .frame div {
    border: 1px solid rgba(255, 255, 255, 0.9);
    @include border-radius(100%);
    width: 158px;
    height: 158px;
  }

  .b-products_item .b-products_item__bottom {
    position: absolute;
    width: 95px;
    height: 95px;
    background: transparent;
    border-right: 5px solid #e9e9e9;
    border-bottom: 5px solid #e9e9e9;
    @include border-radius(0 0 100% 0);
    bottom: -30px;
    right: 50px;
    @include transform(rotate(45deg));
  }

  .b-products_items > div:last-child {
    margin-right: 0;
  }

  .b-products__social{
    margin-top: 20px;
  }

}