.b-product {
  .b-product_images__tn {
    width: 109px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #e7e7e7;
  }

  .b-product_images__tn img {
    width: 100%;
  }

  .b-product_images__main {
    width: 335px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
  }

  .b-product_images__main .fa {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 25px;
    color: $catalog-color-text;
    cursor: pointer;
  }

  .b-product_info {
    padding-right: 20px;
  }

  .b-product__title {
    font-size: 18px;
    color: #5e5e5e;
    margin-bottom: 20px;
  }

  .b-product__desc {
    font-size: 14px;
    //color: #848484;
    color: $catalog-color-text;
  }

  .b-product_btn__vol, .b-product_btn__color {
    width: 40px;
    height: 40px;
    //border: 1px solid #e7e7e7;
    border: 1px solid $catalog-color-text;
    //color: #e7e7e7;
    color: $catalog-color-text;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 2.2;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  .b-product_btn__vol.active, .b-product_btn__color.active {
    color: #a69172;
    border-color: #a69172;
  }

  .b-product_btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .b-product_btn .form-group {
    margin-bottom: 0;
  }

  .b-product_btn:last-child {
    margin-top: 20px;
  }

  .b-product_btn__color {
    width: 150px;
    position: relative;
    padding-left: 30px;
  }

  .b-product_btn__color img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .b-product_btn_desc {
    display: inline-block;
    font-size: 14px;
    color: #5e5e5e;
    margin-left: 10px;
  }

  .b-product_btn_desc span {
    color: darkgray;
  }

  .b-product_btn_counter {
    width: 60px;
    height: 50px;
    background: #f0f0f0;
    color: darkgray;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
  }

  .b-product_btn_counter span {
    font-size: 16px;
  }

  .b-product_btn_quantity {
    position: relative;
    width: 100px;
    margin-right: 75px;
  }

  .b-product_btn_quantity button {
    height: 23px;
    width: 23px;
    background-color: #dfdfdf;
    display: inline-block;
    border: none;
    color: #848181;
    font-size: 20px;
    line-height: 10px;
    position: absolute;
    left: 64px;
    top: 0;
  }

  .b-product_btn_quantity .b-product_btn_quantity_minus {
    top: 27px;
    padding-bottom: 5px;
    font-size: 25px;
  }

  .b-product_btn_defer, .b-product_btn_request {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border: 1px solid #a69172;
    font-size: 16px;
    margin-left: 10px;
    color: #a69172;
    cursor: pointer;
  }

  .b-product_btn_request {
    background-color: #a69172;
    color: white;
  }

  .b-product_btn_defer i, .b-product_btn_request i {
    padding-right: 10px;
  }

  .b-product_details {
    font-size: 14px;
    //color: #5e5e5e;
    color: $catalog-color-text;
  }

  .b-product_details div {
    margin-bottom: 10px;
  }

  .b-product_details span {
    //color: darkgray;
    color: $catalog-color-text;
    padding-left: 10px;
  }

  .b-product_tab {
    display: none;
    border-top: 1px solid #e7e7e7;
  }

  .b-product_tab.active {
    display: block;
  }

  .b-product_tabs {
    margin-top: 30px;
  }

  .b-product_tabs_nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .b-product_tabs_nav__link {
    margin-right: 4px;
    padding: 12px 30px;
    letter-spacing: 2px;
    //color: #e7e7e7;
    color: $catalog-color-text;
    text-align: center;
    transition: color 0.3s;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    font-size: 14px;
  }

  .b-product_tabs_nav__link:hover,
  .b-product_tabs_nav__link:active,
  .b-product_tabs_nav__link:visited {
    text-decoration: none;
  }

  .b-product_tabs_nav__link:last-child {
    margin-right: 0;
  }

  .b-product_tabs_nav__link:hover {
    color: #6d6d6d;
  }

  .b-product_tabs_nav__link.active {
    color: white;
    background-color: #a69172;
  }

  .b-product_tabs_nav__link i,
  .b-product_tabs_nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .b-product_tabs_nav__link i {
    font-size: 18px;
    display: none;
  }

  .b-product_tabs_nav__link span {
    font-size: 14px;
  }

  .b-product_tab__color {
    width: 80px;
    height: 110px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 1.2px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .b-product_tab__color img {
    width: 80px;
    height: 80px;
  }

  .b-product_tab__color span {
    font-size: 18px;
    //color: darkgray;
    color: $catalog-color-text;
  }

  .b-product_tab__color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    //background: lightgrey;
    background: $main-color-text;
    //color:darkgray;
    color: $catalog-color-text;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    cursor: pointer;
  }

  .b-product_tab__color div:hover {
    opacity: 0.6;
  }

  .b-product_contact {
    width: 100%;
    height: 330px;
    background-color: #f1f1f1;
    position: relative;
    padding: 20px;
  }

  .b-product_contact__title {
    font-size: 18px;
    color: $main-color-text;
  }

  .b-product_contact form {
    margin-top: 20px;
  }

  .b-product_contact .form-group {
    position: relative;
  }

  .b-product_contact input,
  .b-product_contact select,
  .b-product_contact textarea {
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #e1e1e1;
    @include border-radius(0);
    color: gray;
    position: relative;
  }

  .b-product_contact textarea {
    height: auto;
  }

  .b-product_contact .required {
    background-color: #d1d1d1;
    height: 10px;
    width: 10px;
  }

  .b-product_contact button {
    @include gradient(#d1b387, #a69172);
    @include border-radius(0);
    width: 100%;
    height: 40px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 20px;
  }

  .b-product_contact__required {
    font-size: 14px;
    color: #9c9a9a;
    position: relative;
  }

  .b-product_contact__required div:first-child {
    text-indent: 20px;
    margin-bottom: 5px;
  }

  .b-product_contact .b-product_contact__required .required {
    position: absolute;
    top: 5px;
    left: 0;
  }

  .b-product_contact .required {
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-product_btn .b-product_btn_defer {
    background-color: white;
  }

  .b-product__social {
    margin-top: 20px;
  }

  .b-product_btn__color-select {
    display: none;
    width: 120px;
    height: 40px;
    border: 1px solid #e7e7e7;
    color: #c1c1c1;
    font-size: 16px;
    text-align: left;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  .b-product_btn__color-select option {
    width: 150px;
  }
}

.b-defer {
  .b-defer_title i {
    margin-right: 10px;
  }

  .b-defer_title a {
    color: darkgray;
  }

  .b-defer__change a {
    color: darkgray;
  }
}



