/* local npm is too long with scss that includes styles */
@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/century-gothic/century-gothic.woff) format('woff');
}

.b-services .icon-paint {
    background: url('/img/sprite.png') -15px 0;
}

.b-services .icon-sofa {
    background: url('/img/sprite.png') -110px 0;
}

.b-services .icon-fire {
    background: url('/img/sprite.png') -220px 0;
}

.b-footer .b-contact_item .icon-location {
    background: url('/img/sprite.png') -442px -20px;
}

.b-footer .b-contact_item .icon-time {
    background: url('/img/sprite.png') -310px -20px;
}

.b-footer .b-contact_item .icon-mail {
    background: url('/img/sprite.png') -400px -20px;
}

.b-footer .b-contact_item .icon-phone {
    background: url('/img/sprite.png') -355px -20px;
}

.b-left-sidebar__title {
    background: url('/img/left_sidebar_background.png') right center no-repeat;
}

.b-left-sidebar .b-left-sidebar_list {
    background: url('/img/left_sidebar_main_background_v3.jpg') left top no-repeat;
    background-size: cover;
}

.b-social .b-social__facebook {
    background: url('/img/sprite.png') -500px -17px;
}

.b-social .b-social__instagram {
    background: url('/img/sprite.png') -567px -17px;
}

.b-slider .b-slider_background-left,
.b-header-image .b-header-image__background-left,
.b-design-studio .b-design-studio__background-left,
.b-info-content .b-info__background-left {
    background: url('/img/main_background2.jpg');
    background-size: 425px;
}

.b-slider .b-slider_background-right,
.b-header-image .b-header-image__background-right,
.b-design-studio .b-design-studio__background-right,
.b-info-content .b-info__background-right {
    background: url('/img/main_background.jpg');
    background-size: 425px;
}

.b-slider .b-slider_background-left,
.b-slider .b-slider_background-right,
.b-design-studio .b-design-studio__background-left,
.b-design-studio .b-design-studio__background-right {
    background-size: 430px;
}

.b-consult {
    background-image: url('/img/consult_background.png');
}

.b-footer .b-contact .b-footer__background {
    background-image: url('/img/footer_background.jpg');
}

.b-footer .b-news .b-footer__background {
    background-image: url('/img/footer_background1.jpg');
}

.b-footer .b-brands .b-footer__background {
    background-image: url('/img/footer_background2.jpg');
}

.b-footer .b-about .b-footer__background {
    background-image: url('/img/footer_background2.jpg');
}

/*.b-products .b-products_item__title, .b-products .b-products_item__title a {*/
	/*font-size: 15px;*/
/*}*/

.b-menu-xs li a i {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	height: 35px;
	margin: auto;
	width: 30px;
	background: #f0f0f0;
	line-height: 35px;
	text-align: center;
}

.b-object-list .b-object-list_item, .b-object-list .b-object-list_item:first-child {
	padding-left: 5px;
	padding-right: 5px !important;
}

.b-object-list .b-object-list_item {
	width: 282px;
	height: 300px;
	overflow: hidden;
	position: relative;
	display: block;
}

.b-about .b-about_slider{
	position: relative;
}

.b-object-list .b-object-list_item img {
 border-radius: 0px; 
}

.b-object-list .b-object-list_item__image {
	position: relative;
	max-height: 180px;
	overflow: hidden;
}

.b-info-content .b-info-content .btn-default{
	background: linear-gradient(to right,#d1b387 1%,#a69172 100%);
    border-radius: 2px;
    width: auto;
    color: #fff;
    font-size: 14px;
    font-family: "Century Gothic",sans-serif;
    padding-left: 10px;
    padding-right: 10px;    
}

.b-info-content .b-info-content .btn-default:hover{
	background: #a69172;
}
